/*---------------------------------------------*/
// Sizes
/*---------------------------------------------*/

/* base --------------------------------------*/
$base-size: 8px;

$font-head: "Poppins";
$font-body: "Poppins";

/* Font Sizes --------------------------------------*/
$heading1: $base-size * 8;
$heading2: $base-size * 6;
$heading3: $base-size * 4;
$heading4: $base-size * 3;
$heading5: $base-size * 2.5;
$heading6: $base-size * 2.25;

$sub-h1: $base-size * 2.5;
$sub-h2: $base-size * 2.25;

$body-text-lg: $base-size * 2.25;
$body-text-rg: $base-size * 2;
$body-text-sm: $base-size * 1.75;

$label: $base-size * 1.5;
$caption: $base-size * 1.25;

$line-height-head: 1.5;
$line-height-head-sm: 1.2;
$line-height-body: 1.1;

/* Font Weight --------------------------------------*/
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;


/* Spacing --------------------------------------*/
$spacing-0-25: $base-size*0.25;
$spacing-0-50: $base-size*0.50;
$spacing-0-75: $base-size*0.75;
$spacing-1: $base-size;
$spacing-1-25: $base-size*1.25;
$spacing-1-50: $base-size*1.50;
$spacing-1-75: $base-size*1.75;
$spacing-2: $base-size*2;
$spacing-2-25: $base-size*2.25;
$spacing-2-50: $base-size*2.50;
$spacing-2-75: $base-size*2.75;
$spacing-3: $base-size*3;
$spacing-3-50: $base-size*3.50;
$spacing-4: $base-size*4;
$spacing-5: $base-size*5;
$spacing-6: $base-size*6;
$spacing-7: $base-size*7;
$spacing-8: $base-size*8;
$spacing-9: $base-size*9;
$spacing-10: $base-size*10;
$spacing-11: $base-size*11;
$spacing-12: $base-size*12;
$spacing-13: $base-size*13;
$spacing-14: $base-size*14;
$spacing-15: $base-size*15;
$spacing-16: $base-size*16;
$spacing-17: $base-size*17;
$spacing-18: $base-size*18;
$spacing-19: $base-size*19;
$spacing-20: $base-size*20;


/* Radius --------------------------------------*/
$radius-0-50: $base-size*0.50;
$radius-1: $base-size*1;
$radius-1-50: $base-size*1.50;
$radius-2: $base-size*2;
$radius-2-50: $base-size*2.50;
$radius-3: $base-size*3;
$radius-4: $base-size*4;
$radius-5: $base-size*5;
$radius-6: $base-size*6;
$radius-7: $base-size*7;
$radius-8: $base-size*8;
$radius-999: $base-size*100;