@mixin generate-color-utilities($key, $value) {
  // Background Colors
  .bg-#{$key}-darker {
    background-color: darken($value, 35%);
  }
  .bg-#{$key}-dark {
    background-color: darken($value, 20%);
  }
  .bg-#{$key}-main {
    background-color: $value;
  }
  .bg-#{$key}-light {
    background-color: lighten($value, 20%);
  }
  .bg-#{$key}-lighter {
    background-color: lighten($value, 35%);
  }
  .bg-#{$key}-8 {
    background-color: rgba($value, 0.08);
  }
  .bg-#{$key}-12 {
    background-color: rgba($value, 0.12);
  }
  .bg-#{$key}-16 {
    background-color: rgba($value, 0.16);
  }
  .bg-#{$key}-20 {
    background-color: rgba($value, 0.2);
  }
  .bg-#{$key}-24 {
    background-color: rgba($value, 0.24);
  }
  .bg-#{$key}-32 {
    background-color: rgba($value, 0.32);
  }
  .bg-#{$key}-40 {
    background-color: rgba($value, 0.4);
  }

  // Text Colors
  .text-#{$key}-darker {
    color: darken($value, 35%);
  }
  .text-#{$key}-dark {
    color: darken($value, 20%);
  }
  .text-#{$key}-main {
    color: $value;
  }  
  .text-#{$key}-light {
    color: lighten($value, 20%);
  }
  .text-#{$key}-lighter {
    color: lighten($value, 35%);
  }  
  .text-#{$key}-8 {
    color: rgba($value, 0.08);
  }
  .text-#{$key}-12 {
    color: rgba($value, 0.12);
  }
  .text-#{$key}-16 {
    color: rgba($value, 0.16);
  }
  .text-#{$key}-20 {
    color: rgba($value, 0.2);
  }
  .text-#{$key}-24 {
    color: rgba($value, 0.24);
  }
  .text-#{$key}-32 {
    color: rgba($value, 0.32);
  }
  .text-#{$key}-40 {
    color: rgba($value, 0.4);
  }

  // Border Colors
  .border-#{$key}-darker {
    border-color: darken($value, 35%);
  }
  .border-#{$key}-dark {
    border-color: darken($value, 20%);
  }
  .border-#{$key}-main {
    border-color: $value;
  }  
  .border-#{$key}-light {
    border-color: lighten($value, 20%);
  }
  .border-#{$key}-lighter {
    border-color: lighten($value, 35%);
  }  
  .border-#{$key}-8 {
    border-color: rgba($value, 0.08);
  }
  .border-#{$key}-12 {
    border-color: rgba($value, 0.12);
  }
  .border-#{$key}-16 {
    border-color: rgba($value, 0.16);
  }
  .border-#{$key}-20 {
    border-color: rgba($value, 0.2);
  }
  .border-#{$key}-24 {
    border-color: rgba($value, 0.24);
  }
  .border-#{$key}-32 {
    border-color: rgba($value, 0.32);
  }
  .border-#{$key}-40 {
    border-color: rgba($value, 0.4);
  }
}

$colors: (
  primary: $primary-main,
  secondary: $secondary-main,
  info: $info-main,
  error: $error-main,
  success: $success-main,
  warning: $warning-main,
);

@each $key, $value in $colors {
  @include generate-color-utilities($key, $value);
}
