$shadows: (
    sm: 0 1px $spacing-0-25 rgba(0, 0, 0, 0.05),
    md: 0 $spacing-0-50 $spacing-0-75 rgba(0, 0, 0, 0.1),
    lg: 0 $spacing-1-25 $spacing-2 rgba(0, 0, 0, 0.15),
    xl: 0 $spacing-2-50 $spacing-3-50 rgba(0, 0, 0, 0.2)
);

@mixin generate-shadow-utilities($shadows) {
    @each $key, $value in $shadows {
        .shadow-#{$key} {
            box-shadow: #{$value};
        }
    }
}

@include generate-shadow-utilities($shadows);