@use "abstracts" as *;
@use "base" as *;
@use "components" as *;

//default button
.btn {
    @include theme-button;

    &-default-outlined {
        @include button-default-outlined;
    }

    &-default-text {
        @include button-default-text;
    }

    &-default-soft {
        @include button-default-soft;
    }

    &-inherit {
        @include button-inherit;
    }

    &-inherit-outlined {
        @include button-inherit-outlined;
    }

    &-inherit-text {
        @include button-inherit-text;
    }

    &-inherit-soft {
        @include button-inherit-soft;
    }

    &-primary {
        @include button-primary;
    }

    &-primary-outlined {
        @include button-primary-outlined;
    }

    &-primary-text {
        @include button-primary-text;
    }

    &-primary-soft {
        @include button-primary-soft;
    }

    &-secondary {
        @include button-secondary;
    }

    &-secondary-outlined {
        @include button-secondary-outlined;
    }

    &-secondary-text {
        @include button-secondary-text;
    }

    &-secondary-soft {
        @include button-secondary-soft;
    }

    &-success {
        @include button-success;
    }

    &-success-outlined {
        @include button-success-outlined;
    }

    &-success-text {
        @include button-success-text;
    }

    &-success-soft {
        @include button-success-soft;
    }

    &-info {
        @include button-info;
    }

    &-info-outlined {
        @include button-info-outlined;
    }

    &-info-text {
        @include button-info-text;
    }

    &-info-soft {
        @include button-info-soft;
    }

    &-warning {
        @include button-warning;
    }

    &-warning-outlined {
        @include button-warning-outlined;
    }

    &-warning-text {
        @include button-warning-text;
    }

    &-warning-soft {
        @include button-warning-soft;
    }

    &-error {
        @include button-error;
    }

    &-error-outlined {
        @include button-error-outlined;
    }

    &-error-text {
        @include button-error-text;
    }

    &-error-soft {
        @include button-error-soft;
    }

    &-disabled {
        @include button-disabled;
    }
}

//sizes
.btn {
    &-sm {
        @include button-small;
    }

    &-md {
        @include button-medium;
    }

    &-lg {
        @include button-large;
    }

    &-icon-xsm {
        @include button-icon-extra-small;
    }

    &-icon-sm {
        @include button-icon-small;
    }

    &-icon-md {
        @include button-icon-medium;
    }

    &-icon-lg {
        @include button-icon-large;
    }
}

//toggle button
.tgl-btn {
    @include toggle-button-default;

    &.active {
        @include toggle-button-active;
    }

    &.active-primary {
        @include toggle-button-active-primary;
    }

    &.active-secondary {
        @include toggle-button-active-secondary;
    }

    &.active-info {
        @include toggle-button-active-info;
    }

    &.active-warning {
        @include toggle-button-active-warning;
    }

    &.active-error {
        @include toggle-button-active-error;
    }

    &.active-success {
        @include toggle-button-active-success;
    }
}

//toggle button group
.tgl-btn-group {
    @include toggle-button-group;
}

//toggle switch
.tgl-switch {
    @include toggle-switch-default;

    &-primary {
        @include toggle-switch-primary;
    }

    &-secondary {
        @include toggle-switch-secondary;
    }

    &-info {
        @include toggle-switch-info;
    }

    &-warning {
        @include toggle-switch-warning;
    }

    &-error {
        @include toggle-switch-error;
    }

    &-success {
        @include toggle-switch-success;
    }
}

// Radio Button Styles
.tgl-radio {
    @include toggle-radio-default;

    &-primary {
        @include toggle-radio-primary;
    }

    &-secondary {
        @include toggle-radio-secondary;
    }

    &-info {
        @include toggle-radio-info;
    }

    &-warning {
        @include toggle-radio-warning;
    }

    &-error {
        @include toggle-radio-error;
    }

    &-success {
        @include toggle-radio-success;
    }
}

// Apply Mixins
.tgl-checkbox {
    @include toggle-checkbox-default;

    &-primary {
        @include toggle-checkbox-primary;
    }

    &-secondary {
        @include toggle-checkbox-secondary;
    }

    &-info {
        @include toggle-checkbox-info;
    }

    &-warning {
        @include toggle-checkbox-warning;
    }

    &-error {
        @include toggle-checkbox-error;
    }

    &-success {
        @include toggle-checkbox-success;
    }
}

//Input Field
.input-group {
    @include input-field-outline;

    &-soft {
        @include input-field-soft;
    }

    &-standard {
        @include input-field-standard;
    }
}

// Default Rating
.rating {
    @include theme-rating;

    &-sm {
        @include rating-small;
    }

    &-lg {
        @include rating-large;
    }
}

// Default Alert
.alert {
    @include component-alert;

    &-soft {
        @include component-alert-soft;
    }

    &-outline {
        @include component-alert-outline;
    }
}

// Dialog Title
.dialog {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dialog-title {
    @include component-dialog-title;
}

.dialog-action {
    @include component-dialog-action;
}

//Snackbar
.snackbar {
    @include component-snackbar-default;

    &-info {
        @include component-snackbar-info;
    }

    &-success {
        @include component-snackbar-success;
    }

    &-warning {
        @include component-snackbar-warning;
    }

    &-error {
        @include component-snackbar-error;
    }
}

//Badge
.badge {
    @include component-badge-default;

    &-primary {
        @include component-badge-primary;
    }

    &-secondary {
        @include component-badge-secondary;
    }

    &-info {
        @include component-badge-info;
    }

    &-warning {
        @include component-badge-warning;
    }

    &-error {
        @include component-badge-error;
    }

    &-success {
        @include component-badge-success;
    }
}

.badge-status {
    @include component-badge-status;
}

// Linear Progress Bar
.progress {
    @include component-linear-progress;
    @include component-circular-progress;
}

// Divider
.divider{
    @include theme-divider;
}