@use "abstracts" as *;
@use "base" as *;
@use "components" as *;

//default button
.btn {
    @include component-button;
    @include component-button-sizes;
}

//sizes
.icon {
    @include component-icon;
}

//toggle button
.tgl-btn {
    @include toggle-button-default;

    &.active {
        @include toggle-button-active;
    }

    &.active-primary {
        @include toggle-button-active-primary;
    }

    &.active-secondary {
        @include toggle-button-active-secondary;
    }

    &.active-info {
        @include toggle-button-active-info;
    }

    &.active-warning {
        @include toggle-button-active-warning;
    }

    &.active-error {
        @include toggle-button-active-error;
    }

    &.active-success {
        @include toggle-button-active-success;
    }
}

//toggle button group
.tgl-btn-group {
    @include toggle-button-group;
}

//toggle switch
.tgl-switch {
    @include toggle-switch-default;

    &-primary {
        @include toggle-switch-primary;
    }

    &-secondary {
        @include toggle-switch-secondary;
    }

    &-info {
        @include toggle-switch-info;
    }

    &-warning {
        @include toggle-switch-warning;
    }

    &-error {
        @include toggle-switch-error;
    }

    &-success {
        @include toggle-switch-success;
    }
}

// Radio Button Styles
.tgl-radio {
    @include toggle-radio-default;

    &-primary {
        @include toggle-radio-primary;
    }

    &-secondary {
        @include toggle-radio-secondary;
    }

    &-info {
        @include toggle-radio-info;
    }

    &-warning {
        @include toggle-radio-warning;
    }

    &-error {
        @include toggle-radio-error;
    }

    &-success {
        @include toggle-radio-success;
    }
}

// Apply Mixins
.tgl-checkbox {
    @include toggle-checkbox-default;

    &-primary {
        @include toggle-checkbox-primary;
    }

    &-secondary {
        @include toggle-checkbox-secondary;
    }

    &-info {
        @include toggle-checkbox-info;
    }

    &-warning {
        @include toggle-checkbox-warning;
    }

    &-error {
        @include toggle-checkbox-error;
    }

    &-success {
        @include toggle-checkbox-success;
    }
}

//Input Field
.input-group {
    @include component-input-field;
}

// Default Rating
.rating {
    @include theme-rating;

    &-sm {
        @include rating-small;
    }

    &-lg {
        @include rating-large;
    }
}

// Default Alert
.alert {
    @include component-alert;
}

// Dialog Title
.dialog {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dialog-title {
    @include component-dialog-title;
}

.dialog-action {
    @include component-dialog-action;
}

//Snackbar
.snackbar {
    @include component-snackbar-default;

    &-info {
        @include component-snackbar-info;
    }

    &-success {
        @include component-snackbar-success;
    }

    &-warning {
        @include component-snackbar-warning;
    }

    &-error {
        @include component-snackbar-error;
    }
}

//Badge
.badge {
    @include component-badge;
}

.badge-status {
    @include component-badge-status;
}

// Linear Progress Bar
.progress {
    @include component-linear-progress;
    @include component-circular-progress;
}

// Divider
.divider {
    @include theme-divider;
}

// Avatar
.avatar {
    @include component-avatar;
}

// Label
.label {
    @include component-label;
}

// Tooltip
.tooltip {
    @include tooltip;
}