@use "../abstracts" as *;

// Alert Component
@mixin theme-alert($bg-color: $info-main,
    $text-color: $info-contrast-text,
    $icon-color: $info-contrast-text,
    $border-color: transparent,
    $border-radius: $radius-999,
    $icon-size: $spacing-3,
    $padding: $spacing-1 $spacing-2,
) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding;
    background-color: $bg-color;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    font-family: Poppins;
    flex-grow: 1;
    gap: $spacing-2;

    .alert-icon {
        font-size: $icon-size;

        &.left {
            color: $icon-color;
        }

        &.right {
            transition: opacity 0.3s ease;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .alert-text {
        flex-grow: 1;
        font-size: $body-text-sm;
    }
}

@mixin component-alert {
    @include theme-alert;

    &-soft {
        @include theme-alert($bg-color: $info-lighter, $text-color: $info-darker, $icon-color: $info-main);  
    }

    &-outlined {
        @include theme-alert($bg-color: $info-8, $text-color: $info-main, $icon-color: $info-main, $border-color: $info-16);    
    }

    //Variant
    &-warning {
        @include theme-alert($bg-color: $warning-main, $text-color: $warning-contrast-text, $icon-color: $warning-contrast-text);

        &-soft{
            @include theme-alert($bg-color: $warning-lighter, $text-color: $warning-darker, $icon-color: $warning-main);
        }

        &-outlined{
            @include theme-alert($bg-color: $warning-8, $text-color: $warning-main, $icon-color: $warning-main, $border-color: $warning-16);
        }
    }

    &-error {
        @include theme-alert($bg-color: $error-main, $text-color: $error-contrast-text, $icon-color: $error-contrast-text);

        &-soft {
            @include theme-alert($bg-color: $error-lighter, $text-color: $error-darker, $icon-color: $error-main);
        }

        &-outlined {
            @include theme-alert($bg-color: $error-8, $text-color: $error-main, $icon-color: $error-main, $border-color: $error-16);
        }
    }

    &-success {
        @include theme-alert($bg-color: $success-main, $text-color: $success-contrast-text, $icon-color: $success-contrast-text);

        &-soft {
            @include theme-alert($bg-color: $success-lighter, $text-color: $success-darker, $icon-color: $success-main);
        }

        &-outlined {
            @include theme-alert($bg-color: $success-8, $text-color: $success-main, $icon-color: $success-main, $border-color: $success-16);
        }
    }
}