@use "../abstracts" as *;
@use "../base" as *;

@mixin component-dialog-head(){
    @include theme-dialog-head-action;

    &.divider{
        border-bottom: 1px dashed $divider;
    }

    .info{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .title{
            font-size: $heading6;
            font-weight: $fw-medium;
            color: $text-primary;
            margin: 0 !important;
        }
        .description{
            color: $text-secondary;
            font-size: $body-text-sm;
            margin: 0 !important;
        }
    }
}

@mixin component-dialog-action(){
    @include theme-dialog-head-action;
    justify-content: end;

    &.full{
        .btn{
            flex-grow: 1;
        }
    }
}