@use "../abstracts" as *;

// Dialogue Component
@mixin theme-dialog-head-action($bg-color: $bg-paper,
    $padding: $spacing-2 $spacing-3,
    $gap: $spacing-2) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding;
    gap: $gap;
    background-color: $bg-color;
}

@mixin component-dialog-head(){
    @include theme-dialog-head-action;

    &.divider{
        border-bottom: 1px dashed $divider;
    }

    .info{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .title{
            font-size: $heading6;
            font-weight: $fw-medium;
            color: $text-primary;
            margin: 0 !important;
        }
        .description{
            color: $text-secondary;
            font-size: $body-text-sm;
            margin: 0 !important;
        }
    }
}

@mixin component-dialog-action(){
    @include theme-dialog-head-action;
    justify-content: flex-end;

    &.full{
        .btn{
            flex-grow: 1;
        }
    }
}