@use "../abstracts" as *;
@use "../base" as *;

// Input Field Default
@mixin component-input-field {
    @include theme-input-field;
    &-outline {
        @include theme-input-field;
    }

    // Input Field Soft
    &-soft {
        @include theme-input-field;

        .input-main {
            background-color: $grey-8;
            border: none;

            .input-label {
                background: none;
            }
        }

        &.success .input-main {
            background-color: $success-8;
        }

        &.error .input-main {
            background-color: $error-8;
        }

        &.disabled .input-main {
            background-color: $grey-8;
        }
    }

    // Input Field Standard
    &-standard {
        @include theme-input-field;

        .input-main {
            border: none;
            border-bottom: 1px solid $textfield-outline;
            border-radius: 0;
            background-color: $grey-8;

            .input-label {
                background: none;
            }
        }
    }
}