@use "../abstracts" as *;

// Tooltip
@mixin theme-tooltip($bg-color: $grey-800,
    $color: $white-main) {
    position: relative;
    display: inline-block;

    &::after {
        content: attr(data-tooltip);
        position: absolute;
        background-color: $bg-color;
        color: $color;
        font-size: $body-text-sm;
        padding: $spacing-0-50 $spacing-1;
        border-radius: $radius-1;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        white-space: nowrap;
        z-index: 9;
        cursor: pointer;
    }

    &:hover::after {
        opacity: 1;
        visibility: visible;
    }
}

@mixin tooltip {
    &-top {
        @include theme-tooltip;

        &::after {
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: $spacing-0-50;
        }
    }

    &-bottom {
        @include theme-tooltip;

        &::after {
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin-top: $spacing-0-50;
        }
    }

    &-left {
        @include theme-tooltip;

        &::after {
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
            margin-right: $spacing-0-50;
        }
    }

    &-right {
        @include theme-tooltip;

        &::after {
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            margin-left: $spacing-0-50;
        }
    }
}