@mixin font-face($family,
  $weight,
  $type,
  $style: normal,
  $path: "/assets/fonts/Poppins"

) {
  @font-face {
    font-family: $family;
    src: url("#{$path}/#{$family}-#{$type}#{$style}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

// Define font weights and styles in a map
$font-weights: (
  100: "Thin",
  300: "Light",
  400: "Regular",
  500: "Medium",
  600: "SemiBold",
  700: "Bold",
  800: "ExtraBold",
  900: "Black",
);

// Loop through font weights and styles to generate includes
@each $weight, $name in $font-weights {
  @include font-face("Poppins", $weight, $name, "/assets/fonts/Poppins");
}