@use "../abstracts" as *;
@use "../base" as *;
@use "navbar" as *;

body {
    box-sizing: border-box;
    background-color: $bg-paper-alt;
    height: 100vh;
    @include set-flex(row, flex-start);

    .main-nav {
        @include main-nav-default();
    }

    .main-details {
        @include set-flex(column, flex-start);
        flex-grow: 1;
        margin-left: 0;
        @include set-overflow-scroll();
        @include set-custom-scrollbar($spacing-1, transparent, $action-disabled);

        .toolbar {
            @include set-flex(row, flex-start, center);
            @include set-position(sticky, 0, 0, null, 0,5);
            min-height: $spacing-10;
            background-color: $bg-paper-alt;
            padding: $spacing-1 $spacing-3;
            left: 0 !important;

            .menu-toggle {
                display: block;
                color: $text-primary;

                &:hover {
                    opacity: 0.75;
                }
            }
        }

        .content {
            flex-grow: 1;
            padding: $spacing-3;
        }

        @media screen and (max-width: 768px) {
            .content {
                padding: $spacing-2 0;
            }
        }

        @media screen and (min-width: 992px) {
            margin-left: 224px !important;

            .toolbar {
                left: 224px !important;

                .menu-toggle {
                    display: none;
                }
            }
        }
    }

    @media screen and (min-width: 992px) {
        &.main-compact {
            .main-nav {
                @include main-nav-compact();
            }

            .main-details {
                margin-left: $spacing-8 !important;

                .toolbar {
                    left: $spacing-8 !important;
                }
            }
        }
    }
}


//Misc
.component-section {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.component-block {
    border: 2px solid #ddd;
    border-radius: 16px;
    padding: 40px 24px;
    position: relative;
    width: -moz-fill-available;
    width: -webkit-fill-available;
    width: fill-available;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: $bg-default;
}

.section-heading {
    position: absolute;
    top: -32px;
    /* Adjust to center the heading over the border */
    left: 20px;
    background-color: $bg-paper-alt;
    font-size: 20px;
    padding: 4px 16px;
    color: $text-primary;
    border-radius: 8px;
}

.component-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* Gap between rows */
    padding-top: 24px;
}

.component-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}