@use "../abstracts" as *;
@use "../base" as *;

@mixin main-nav-default() {
    @include set-position(absolute, 0, null, 0, 0, 9);
    min-width: 224px;
    overflow: hidden;
    background-color: $text-primary;

    header {
        @include set-position(sticky, 0, null, null, null, 10);
        @include set-flex(row, space-between, center);
        min-height: $spacing-10;
        padding: $spacing-1 $spacing-2;
        background-color: $text-primary !important;

        .brand-logo {
            @include set-font-style($family: $font-head, $weight: $fw-bold, $size: $sub-h1, $color: $primary-main);
            @include set-flex(row, space-between, center);
            @include set-transition($transition-all);

            &:focus,
            &:active,
            &:hover {
                * {
                    @include set-transition($transition-all);
                    color: $primary-light;
                }
            }

            i,
            svg {
                color: $primary-main;
                font-size: $spacing-3;
                margin-right: $spacing-1;
            }
        }

        .menu-toggle {
            @include set-position(relative);
            @include set-dimension($spacing-3);
            @include set-flex(row, center, center);
            color: $text-secondary;

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                opacity: 0.75;
            }

            i,
            svg {
                font-size: $sub-h1;
            }
        }
    }

    main {
        @include set-overflow-scroll;
        @include set-calc(height, '100% - 80px');
        @include set-custom-scrollbar($spacing-0-50, transparent, $primary-32);

        .main-nav-list {
            @include set-flex($direction: column);

            li {
                @include set-list-style();
                @include set-transition($transition-all);
            }

            .main-nav-title {
                @include set-font-style($weight: $fw-medium, $size: $caption, $color: $text-secondary);
                cursor: default;
                padding: $spacing-1-25 $spacing-3;
            }

            .main-nav-item {
                border-left: $spacing-0-25 solid transparent;
                opacity: 0.5;
                @include set-transition($transition-all);

                a {
                    @include set-font-style($weight: $fw-light, $size: $body-text-sm, $color: $primary-contrast-text, $spacing: 0.5px);
                    @include set-flex(row, flex-start, center, $spacing-2);
                    padding: $spacing-1-50 $spacing-2;
                    white-space: nowrap;
                    width: 100%;

                    i,
                    svg {
                        @include set-dimension($spacing-2);
                        @include set-font-style($size: $body-text-rg, $color: $text-disabled);
                        @include set-transition($transition-all);
                    }

                    .right {
                        margin-left: auto;
                    }
                }

                &:hover:not(.active) {
                    opacity: 1 !important;

                    * {
                        color: $global-inherit-color;
                        @include set-transition($transition-all);
                    }
                }

                &.active {
                    opacity: 1 !important;
                    border-left-color: $primary-main;

                    a {

                        i,
                        svg {
                            color: $primary-main !important;
                        }
                    }
                }
            }

            .main-nav-dropdown {
                @include set-flex($direction: column);
                @include set-transition($transition-all);

                .main-nav-dropdown-toggle:after {
                    content: "";
                    margin-left: auto;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-left: $spacing-0-50 solid transparent;
                    border-right: $spacing-0-50 solid transparent;
                    border-top: $spacing-0-50 solid $text-secondary;
                    border-radius: 50%;
                    @include set-transform(rotate(90deg));
                    @include set-transition($transition-all);
                }

                .main-nav-dropdown-menu {
                    @include set-flex($direction: column);
                    display: none;
                    padding-left: $spacing-4;

                    .dropdown-item {
                        @include set-transition($transition-all);

                        a {
                            @include set-font-style($size: $label, $weight: $fw-light, $color: $global-inherit-color);
                            padding: $spacing-1 $spacing-2;
                        }

                        &:hover {
                            margin-left: $spacing-0-50;
                            @include set-transition($transition-all);
                        }
                    }
                }

                &.show {
                    opacity: 1;

                    .main-nav-dropdown-toggle::after {
                        @include set-transform(none);
                    }

                    .main-nav-dropdown-menu {
                        @include set-flex($direction: column);
                        @include set-transition($transition-all);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        @include set-position(fixed, 0, 0, 0, 0, 100);
        display: none;

        header .menu-toggle {
            display: flex;
            color: $primary-contrast-text;
        }

        &.mobile-show {
            display: block;
        }
    }
}

@mixin main-nav-compact() {
    min-width: $spacing-8;
    @include set-transition(max-width 0.3s ease);
    overflow: hidden;
    max-width: $spacing-8;

    header {
        display: flex;
        justify-content: center;

        .brand-logo span,
        .menu-toggle {
            display: none;
        }
    }

    .main-nav-list {
        .main-nav-item {
            a {
                display: flex !important;
                justify-content: center;
                width: 100%;
            }

            span {
                display: none;
            }
        }

        .main-nav-title {
            display: none;
        }

        .main-nav-dropdown {
            .main-nav-dropdown-toggle:after {
                display: none !important;
            }

            &.show .main-nav-dropdown-menu {
                display: none !important;
            }
        }
    }

    &:hover {
        max-width: 224px;
        width: 224px;

        opacity: 1;

        header {
            justify-content: space-between;
            .brand-logo span,
            .menu-toggle {
                display: block;
            }

            .menu-toggle {

                i,
                svg {
                    @include set-transform(rotate(180deg));
                    transform-origin: center;
                }
            }
        }

        .main-nav-list {
            .main-nav-item {
                a{
                    justify-content: flex-start;
                }
                span {
                    display: inline-flex;
                }
            }

            .main-nav-title {
                display: inline-flex;
            }

            .main-nav-dropdown {
                .main-nav-dropdown-toggle:after {
                    display: inline-flex !important;
                }

                &.show .main-nav-dropdown-menu {
                    display: inline-flex !important;
                }
            }
        }
    }
}