@use "../abstracts" as *;

.main-nav {
    min-width: 224px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: $text-primary;
    z-index: 9;

    header {
        min-height: 84px;
        padding: $spacing-1 $spacing-2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $text-primary !important;
        position: sticky;
        top: 0;
        z-index: 10;

        .brand-logo {
            font-family: "Nunito", sans-serif;
            font-weight: bold;
            font-size: 20px;
            display: flex;
            color: $primary-main;
            align-items: center;
            transition: $transition-all;

            &:focus,
            &:active,
            &:hover {
                * {
                    color: $primary-light;
                    text-decoration: none;
                    transition: $transition-all;
                }
            }

            i,
            svg {
                color: $primary-main;
                font-size: $spacing-3;
                margin-right: 10px;
            }
        }

        .menu-toggle {
            position: relative;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text-secondary;
        
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                opacity: 0.75;
            }
        
            i,
            svg {
                font-size: 20px;
            }
        }
    }

    nav {
        overflow: auto;
        height: calc(100% - 84px);
        ;

        &::-webkit-scrollbar {
            width: $spacing-0-50;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            /* Background color of the track */
        }

        &::-webkit-scrollbar-thumb {
            background-color: $primary-32;
            /* Color of the scrollbar thumb */
            border-radius: $radius-999;
            /* Rounded corners for the thumb */
        }

        .main-nav-list {
            display: flex;
            flex-direction: column;

            li {
                list-style-type: none;
                margin: 0;
                transition: $transition-all;
            }

            .main-nav-title {
                cursor: default;
                font-size: $caption;
                text-transform: uppercase;
                color: $text-secondary;
                font-weight: 600;
                padding: $spacing-1-25 $spacing-3;
                list-style-type: none;
                transition: all 0.3s ease-in-out;
                margin: 0;
            }

            .main-nav-item {
                border-left: 3px solid transparent;
                opacity: 0.5;
                transition: $transition-all;

                a {
                    padding: $spacing-1-50 $spacing-2;
                    color: $primary-contrast-text;
                    display: flex;
                    align-items: center;
                    gap: $spacing-2;
                    letter-spacing: 0.02em;
                    font-family: 'Roboto';
                    font-weight: light;
                    white-space: nowrap;
                    line-height: 1;
                    font-size: $body-text-sm;

                    i,
                    svg {
                        width: 16px;
                        font-size: 16px;
                        color: $text-disabled;
                        transition: $transition-all;
                    }

                    .right {
                        margin-left: auto;
                    }
                }

                &:hover:not(.active) {
                    opacity: 1 !important;
                    transition: $transition-all;

                    * {
                        color: $global-inherit-color;
                        transition: $transition-all;
                    }
                }

                &.active {
                    opacity: 1 !important;
                    border-left: 3px solid $primary-main;

                    a {

                        i,
                        svg {
                            color: $primary-main !important;
                        }
                    }
                }
            }

            .main-nav-dropdown {
                display: flex;
                flex-direction: column;
                transition: $transition-all;

                .main-nav-dropdown-toggle:after {
                    content: "";
                    margin-left: auto;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid $text-secondary;
                    border-radius: 50%;
                    transform: rotate(90deg);
                    transition: $transition-all;
                }

                .main-nav-dropdown-menu {
                    display: none;
                    flex-direction: column;
                    padding-left: $spacing-4;
                    transition: $transition-all;

                    .dropdown-item {
                        transition: $transition-all;

                        a {
                            font-size: $body-text-sm;
                            font-weight: lighter;
                            padding: $spacing-1-25 $spacing-2;
                        }

                        &:hover {
                            margin-left: 4px;
                            transition: $transition-all;
                        }
                    }
                }

                &.show {
                    opacity: 1;

                    .main-nav-dropdown-toggle::after {
                        -webkit-transform: none;
                        -o-transform: none;
                        transform: none;
                    }

                    .main-nav-dropdown-menu {
                        display: flex;
                        transition: $transition-all;
                    }

                    * {
                        color: $white-main;
                    }
                }
            }
        }
    }
}

.main-compact {
    .main-nav {
        min-width: $spacing-8;

        header {

            .brand-logo span,
            .menu-toggle {
                display: none;
            }
        }

        .main-nav-list {
            .main-nav-item span {
                display: none;
            }

            .main-nav-title {
                display: none;
            }

            .main-nav-dropdown {
                .main-nav-dropdown-toggle:after {
                    display: none !important;
                }

                &.show .main-nav-dropdown-menu{
                    display: none !important;
                }
            }
        }

        &:hover {
            min-width: inherit;
            transition: .3s all ease-in-out;

            header {
                
                .brand-logo span,
                .menu-toggle {
                    display: flex;
                }

                .menu-toggle{
                    i,svg{
                        transform: rotate(180deg);
                    }
                }
            }

            .main-nav-list {
                .main-nav-item span {
                    display: flex;
                }

                .main-nav-title {
                    display: flex;
                }

                .main-nav-dropdown {
                    .main-nav-dropdown-toggle:after {
                        display: inline-flex !important;
                    }
    
                    &.show .main-nav-dropdown-menu{
                        display: inline-flex !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .main-nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;

        header .menu-toggle {
            display: flex;
            color: $primary-contrast-text;
        }

        &.mobile-show {
            display: block;
        }
    }
}