<header>
    <a href="#" class="brand-logo"><i class="fas fa-tint"></i><span> ZEPTO </span></a>
    <a href="#!" class="menu-toggle"><i class="fas fa-backward"></i> </a>
</header>
<main>
    <ul class="main-nav-list">
        <li class="main-nav-title">General</li>
        <li id="dashboard" class="main-nav-item"><a href="#"><i class="fas fa-home"></i> <span>Dashboard</span> </a>
        </li>

        <div style="display: none;">
            <!-- Products Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-tshirt"></i>
                    <span>Products</span> </a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">List</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Grid</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Details</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Edit</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Create</a></li>
                </ul>
            </li>

            <!-- Category Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-clipboard-list"></i>
                    <span>Category</span> </a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">List</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Edit</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Create</a></li>
                </ul>
            </li>

            <!-- Inventory Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-box"></i> <span>Inventory</span>
                </a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">Warehouse</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Received Orders</a></li>
                </ul>
            </li>

            <!-- Orders Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-bag"></i> <span>Orders</span>
                </a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">List</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Details</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Cart</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Check Out</a></li>
                </ul>
            </li>

            <!-- Purchases Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-credit-card"></i>
                    <span>Purchases</span></a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">List</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Order</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Return</a></li>
                </ul>
            </li>

            <!-- Attributes Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-gift"></i>
                    <span>Attributes</span> </a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">List</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Edit</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Create</a></li>
                </ul>
            </li>

            <!-- Invoices Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-file-invoice"></i>
                    <span>Invoices</span>
                </a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">List</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Details</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Create</a></li>
                </ul>
            </li>
            <li class="main-nav-item"><a href="#"><i class="fas fa-cog"></i> <span>Setting</span> </a></li>

            <li class="main-nav-title"> <span>Users</span> </li>
            <li class="main-nav-item"><a href="#"><i class="fas fa-user"></i> <span>Profile</span> </a></li>

            <!-- Roles Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-users-cog"></i>
                    <span>Roles</span> </a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">List</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Edit</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Create</a></li>
                </ul>
            </li>

            <li class="main-nav-item"><a href="#"><i class="fas fa-key"></i> <span>Permissions</span> </a></li>

            <!-- Customers Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-users"></i>
                    <span>Customers</span> </a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">List</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Details</a></li>
                </ul>
            </li>

            <!-- Sellers Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-store"></i> <span>Sellers</span>
                </a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">List</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Details</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Edit</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Create</a></li>
                </ul>
            </li>

            <li class="main-nav-title">Other</li>

            <!-- Coupons Menu -->
            <li class="main-nav-item main-nav-dropdown">
                <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-leaf"></i> <span>Coupons</span>
                </a>
                <ul class="main-nav-dropdown-menu">
                    <li class="main-nav-item dropdown-item"><a href="#">List</a></li>
                    <li class="main-nav-item dropdown-item"><a href="#">Add</a></li>
                </ul>
            </li>

            <li class="main-nav-item"><a href="#"><i class="fas fa-comments"></i> <span>Reviews</span> </a>
            </li>

            <li class="main-nav-title"><span>Other Apps</span></li>
            <li class="main-nav-item"><a href="#"><i class="fas fa-comment-dots"></i> <span>Chat</span> </a>
            </li>
            <li class="main-nav-item"><a href="#"><i class="fas fa-envelope"></i> <span>Email</span> </a></li>
            <li class="main-nav-item"><a href="#"><i class="fas fa-calendar-alt"></i> <span>Calendar</span>
                </a></li>
            <li class="main-nav-item"><a href="#"><i class="fas fa-check-square"></i> <span>Todo</span> </a>
            </li>

            <li class="main-nav-title"><span>Support</span></li>
            <li class="main-nav-item"><a href="#"><i class="fas fa-question-circle"></i> <span>Help
                        Center</span> </a>
            </li>
            <li class="main-nav-item"><a href="#"><i class="fas fa-info-circle"></i> <span>FAQs</span> </a>
            </li>
            <li class="main-nav-item"><a href="#"><i class="fas fa-file-alt"></i> <span>Privacy Policy</span>
                </a></li>
        </div>

        <li class="main-nav-title"><span>Custom</span></li>
        <!-- Pages Menu -->
        <li class="main-nav-item main-nav-dropdown">
            <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-gift"></i> <span>Pages</span>
            </a>
            <ul class="main-nav-dropdown-menu">
                <li class="main-nav-item dropdown-item"><a href="#">Welcome</a></li>
                <li class="main-nav-item dropdown-item"><a href="#">Coming Soon</a></li>
                <li class="main-nav-item dropdown-item"><a href="#">Timeline</a></li>
                <li class="main-nav-item dropdown-item"><a href="#">Pricing</a></li>
                <li class="main-nav-item dropdown-item"><a href="#">Maintenance</a></li>
                <li class="main-nav-item dropdown-item"><a href="#">404 Error</a></li>
                <li class="main-nav-item dropdown-item"><a href="#">404 Error (alt)</a></li>
            </ul>
        </li>

        <!-- Authentication Menu -->
        <li class="main-nav-item main-nav-dropdown">
            <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-lock"></i>
                <span>Authentication</span>
            </a>
            <ul class="main-nav-dropdown-menu">
                <li class="main-nav-item dropdown-item"><a href="#">Sign In</a></li>
                <li class="main-nav-item dropdown-item"><a href="#">Sign Up</a></li>
                <li class="main-nav-item dropdown-item"><a href="#">Reset Password</a></li>
                <li class="main-nav-item dropdown-item"><a href="#">Lock Screen</a></li>
            </ul>
        </li>

        <li class="main-nav-item"><a href="#"><i class="fas fa-cogs"></i> <span>Widgets</span> </a></li>

        <li class="main-nav-title">Components</li>

        <!-- Base UI Menu -->
        <li class="main-nav-item main-nav-dropdown">
            <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-bookmark"></i> <span>Base
                    UI</span> </a>
            <ul class="main-nav-dropdown-menu">
                <li class="main-nav-item dropdown-item"><a href="ui-accordion.html">Accordion</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-alerts.html">Alerts</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-avatar.html">Avatar</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-badge.html">Badge</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-breadcrumb.html">Breadcrumb</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="ui-buttons.html">Buttons</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-card.html">Card</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-carousel.html">Carousel</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-collapse.html">Collapse</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-dropdown.html">Dropdown</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-list-group.html">List Group</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="ui-modal.html">Modal</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-tabs.html">Tabs</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-offcanvas.html">Offcanvas</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-pagination.html">Pagination</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="ui-placeholders.html">Placeholders</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="ui-popovers.html">Popovers</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-progress.html">Progress</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-scrollspy.html">Scrollspy</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-spinners.html">Spinners</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-toasts.html">Toasts</a></li>
                <li class="main-nav-item dropdown-item"><a href="ui-tooltips.html">Tooltips</a></li>
            </ul>
        </li>

        <!-- Advanced UI Menu -->
        <li class="main-nav-item main-nav-dropdown">
            <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-cogs"></i> <span>Advanced
                    UI</span> </a>
            <ul class="main-nav-dropdown-menu">
                <li class="main-nav-item dropdown-item"><a href="extended-ratings.html">Ratings</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="extended-sweetalert.html">Sweet
                        Alert</a></li>
                <li class="main-nav-item dropdown-item"><a href="extended-swiper-silder.html">Swiper
                        Slider</a></li>
                <li class="main-nav-item dropdown-item"><a href="extended-scrollbar.html">Scrollbar</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="extended-toastify.html">Toastify</a>
                </li>
            </ul>
        </li>

        <!-- Charts Menu -->
        <li class="main-nav-item main-nav-dropdown">
            <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-chart-pie"></i>
                <span>Charts</span> </a>
            <ul class="main-nav-dropdown-menu">
                <li class="main-nav-item dropdown-item"><a href="charts-apex-area.html">Area</a></li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-bar.html">Bar</a></li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-bubble.html">Bubble</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-candlestick.html">Candlestick</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-column.html">Column</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-heatmap.html">Heatmap</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-line.html">Line</a></li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-mixed.html">Mixed</a></li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-timeline.html">Timeline</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-boxplot.html">Boxplot</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-treemap.html">Tree map</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-pie.html">Pie</a></li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-radar.html">Radar</a></li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-radialbar.html">RadialBar</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-scatter.html">Scatter</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="charts-apex-polar-area.html">Polar
                        Area</a></li>
            </ul>

        </li> <!-- Forms Menu -->
        <li class="main-nav-item main-nav-dropdown">
            <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-book"></i> <span>Forms</span>
            </a>
            <ul class="main-nav-dropdown-menu">
                <li class="main-nav-item dropdown-item"><a href="forms-basic.html">Basic Elements</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="forms-checkbox-radio.html">Checkbox
                        &amp; Radio</a></li>
                <li class="main-nav-item dropdown-item"><a href="forms-choices.html">Choice Select</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="forms-clipboard.html">Clipboard</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="forms-flatepicker.html">Flatepicker</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="forms-validation.html">Validation</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="forms-wizard.html">Wizard</a></li>
                <li class="main-nav-item dropdown-item"><a href="forms-fileuploads.html">File
                        Upload</a></li>
                <li class="main-nav-item dropdown-item"><a href="forms-editors.html">Editors</a></li>
                <li class="main-nav-item dropdown-item"><a href="forms-input-mask.html">Input Mask</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="forms-range-slider.html">Slider</a>
                </li>
            </ul>
        </li> <!-- Tables Menu -->
        <li class="main-nav-item main-nav-dropdown">
            <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-table"></i> <span>Tables</span>
            </a>
            <ul class="main-nav-dropdown-menu">
                <li class="main-nav-item dropdown-item"><a href="tables-basic.html">Basic Tables</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="tables-gridjs.html">Grid Js</a></li>
            </ul>
        </li> <!-- Icons Menu -->
        <li class="main-nav-item main-nav-dropdown">
            <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-icons"></i> <span>Icons</span>
            </a>
            <ul class="main-nav-dropdown-menu">
                <li class="main-nav-item dropdown-item"><a href="icons-boxicons.html">Box icons</a>
                </li>
                <li class="main-nav-item dropdown-item"><a href="icons-font-awesome.html">Font
                        Awesome</a></li>
            </ul>
        </li> <!-- Maps Menu -->
        <li class="main-nav-item main-nav-dropdown">
            <a href="#!" class="main-nav-dropdown-toggle"><i class="fas fa-map-marked-alt"></i>
                <span>Maps</span> </a>
            <ul class="main-nav-dropdown-menu">
                <li class="main-nav-item dropdown-item"><a href="maps-google.html">Google Maps</a></li>
                <li class="main-nav-item dropdown-item"><a href="maps-vector.html">Vector Maps</a></li>
            </ul>
        </li> <!-- Badge Menu -->
        <li class="main-nav-item">
            <a href="#">
                <i class="fas fa-badge-check"></i> <span>Badge Menu</span> <span class="badge-error right">1</span>
            </a>
        </li> <!-- Multi-level Menu -->
        <li class="main-nav-item main-nav-dropdown"> <a href="#!" class="main-nav-dropdown-toggle"><i
                    class="fas fa-share-alt"></i> <span>Menu Item</span>
            </a>
            <ul class="main-nav-dropdown-menu">
                <li class="main-nav-item dropdown-item"><a href="#">Menu Item 1</a></li>
                <li class="main-nav-item main-nav-dropdown"> <a href="#!" class="main-nav-dropdown-toggle"><span> Menu
                            Item 2 </span></a>
                    <ul class="main-nav-dropdown-menu">
                        <li class="main-nav-item dropdown-item"><a href="#">Menu Sub Item</a></li>
                    </ul>
                </li>
            </ul>
        </li> <!-- Disabled Item -->
        <li class="main-nav-item"> <a href="javascript:void(0);" class="disabled"><i class="fas fa-ban"></i>
                <span>Disable Item</span> </a> </li>
    </ul>
</main>

<script src="../../assets/js/navbar.js"></script>